.header{
    background-image: url("/desktop/image-header.jpg");
    background-size: cover;
    height: 100vh;
}

.title{
    @apply
    w-11/12
    mx-auto
    flex
    justify-between
    items-center
    pt-8
}

.title nav ul {
    @apply
    flex
    gap-8
    text-gray-100
    items-center
}

.title nav ul li:hover{
    @apply
    text-white
}

.contact{
    @apply
    bg-white
    px-4
    py-2
    text-black
    rounded-full
    uppercase
}
.title nav ul .contact:hover{
    @apply
    text-black
}

.h1{
    @apply
    text-center
    text-7xl
    font-black
    text-white
    mt-12
    uppercase
    tracking-widest
}

.arrow img{
    @apply
    mx-auto
    mt-48
}